<!-- Navigation Bar -->
<div id="main-menu" class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Eventex Django1.5</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/palestras">Palestras</a></li>
                    <li><a href="/artigos">Artigos</a></li>
                    <li><a href="/exemplos">Exemplos</a></li>
                    <li><a href="/tutoriais">Tutoriais</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>